<div>Список правил:</div>
{{#rules}}
<div>
    <b>ID =  </b> {{id}}
    <b>type =  </b> {{type}}
    <b>direction = </b> {{direction}}
    <b>source = </b> {{source}}
    <b>summ = </b> {{summ}}
    <b>action = </b> {{action}}
    <b>code_type_of_balance = </b> {{code_type_of_balance}}
</div>
<br><br>
{{/rules}}